@charset "UTF-8";

* {
    font-family: 'roboto';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    background-color: rgb(138, 138, 138);
}

.content {
    padding: 5px;
}

.pokemons{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.pokemons > li {
    margin: .2rem;
    padding: 1rem;
    border-radius: 1rem;
    background: linear-gradient(to bottom, #aaffd5de, white);
    color: black;
    text-align: end;
}

img {
    max-width: 50%;
    border-radius: 10px;
    text-align: left;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
}

h4 {
    text-align: start;
}

.types {
    display: inline-block;
}

.type {
    background-color: rgba(89, 202, 89, 0.486);
    border-radius: 25px;
    padding: 5px;
    text-align: center;
    font-size: small;
    margin: 3px;
}

